

* {
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}

:root {
    --bgColor: #fcfcfc;
    --textColor: rgb(45, 45, 45);
    --blue: #24437d;
    --darkBlue: #132342;
    --lightBlue: #9fbaec;
    --white: #ffffff;
}

body {
    background-color: var(--bgColor);
    color: var(--textColor);
}